button {
    cursor: pointer;
    width: 15%;
    margin-left: 15%;
}

form {
    background-color: #515585;
    color: ghostwhite;
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

h1 {
    margin-left: 10%;
    padding: 1%;
}

input {
    float: right;
    margin-right: 10%;
    padding: 0.5em;
}

#product-example::after {
    content: "4ITKRXAT1ELB";
    color: black;
    font-size: 16px;
    float: right;
    padding: 0.5em;
    margin-right: 1em;
}

input[type=text], [type=email] {

    text-align: center;

    box-sizing: border-box;
}

input[type=number] {
    text-align: right;
}

label::before {
    content: "*";
}

label::after {
    content: ":";
    padding-right: 1em;
}

