body {
    font-family: 'Montserrat', sans-serif;
}

.logo {
    height: auto;
    width: auto;
}

.title {
    background-color: #515585;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    margin-bottom: 10%;
}


form {
    background-color: #f8f8f8;
    margin: 0 auto;
    width: 50%
}

footer {
    background-color: #515585
}



.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}

.navbar {
    padding: 0 0 3rem;
}

.nav-item {
    padding: 0 18px;
}

.download-button {
    margin: 5% 3% 5% 0;
}


h3 {
    text-align: center;
    margin: 5% auto;
    font-family: 'Montserrat';
}

p {
    text-align: center;
    color: black;
    margin-bottom: 5%;
}


.icon {
    color: #515585;
    margin-bottom: 5%;
    padding-top: 5%;
}

.icon:hover {
    color: black;
}


h2 {
    font-size: 2rem;
    line-height: 1.5;
    padding-bottom: 3%;
}


em {
    margin-bottom: 1%;
    color: black;
}

.instacon {
    color: black;
}


.rows {
    margin: 0;
    text-align: center;
    padding-bottom: 5%;
}


@media (max-width 991px) and (min-width 881px) {
    h1 {
        font-size: 80px;
    }
}

.foot {
    background-color: #f8f8f8;
}

#top {
    background-color: #515585;
}


